<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="stylesheets/app.css" class="rel">
    <div id="cluster-map"></div>
    <h1 class="mt-3 mb-3 text-center">All Campgrounds</h1>
    
    <% for(let campground of campgrounds){ %>
        <div class="card mb-3 custom-card">
            <div class="row">
                <div class="col-md-4">
                    <% if(campground.images.length){ %>
                        <img class="img-fluid" alt="" src="<%=campground.images[0].url%>">
                        <!-- displaying a default first image for each campground -->
                        <% } else { %>
                            <img src=""
                                alt="https://res.cloudinary.com/dsrmnbnha/image/upload/v1730132047/Trekit/qdscskcj7xtokzncrtip.jpg">
                            <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=campground.title%>
                        </h5>
                        <p class="card-text">
                            <%=campground.description%>
                        </p>
                        <p class="card-text">
                            <small>
                                <%=campground.location%>
                            </small>
                        </p>
                        <a class="btn bg-light text-dark" href="/campgrounds/<%=campground._id%>">
                            View <%=campground.title%>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <%} %>

            <script>
                //MAPBOX
                //const mapToken = '<%-process.env.MAPBOX_TOKEN%>';

                //MAPTILER
                const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
                const campgrounds = {features: <%- JSON.stringify(campgrounds) %>}
            </script>
            <script src="/javascripts/clusterMap.js"></script>